<%-include('./partials/head.ejs')%>
<section>
   <div class="container">
      <table class="striped responsive-table">
         <thead>
            <th>Objeto</th>
            <th>Pessoa</th>
            <th>Data de devolução</th>
            <th>Opções</th>
         </thead>
         <tbody>
            <% objetos.forEach(objeto =>{ %>
               <tr>
                  <td><%= objeto.nome %></td>
                  <% objeto.emprestimos.forEach(emprestimo =>{ %>
                     <td><%= emprestimo.pessoa.nome %></td>
                     <td><%= emprestimo.data_devolucao %></td>
                  <% }) %>
                  <td>
                     <form action="/emprestimo/giveBack" method="POST">
                        <button class="waves-effect waves-light btn-small" type="submit">
                           <i class="material-icons">arrow_downward</i>
                        </button>
                        <input type="hidden" name="objetoId" value="<%= objeto.id %>">
                        <% objeto.emprestimos.forEach(emprestimo =>{ %>
                           <input type="hidden" name="emprestimoId" value="<%= emprestimo.id %>">
                        <% }) %>
                     </form>
                  </td>
               </tr>
            <% }) %>
         </tbody>   
      </table>
   </div>
</section>
<%-include('./partials/footer.ejs')%>
